---
BasedOnStyle: Mozilla
IndentWidth: 4
ColumnLimit: 120

---
Language: Cpp

BreakBeforeBraces: Attach

AllowAllArgumentsOnNextLine: true
BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak

InsertBraces: true
InsertNewlineAtEOF: true
